.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding: 0 2rem;

    background-color: var(--cor-branca);
}

.cabecalho__logo_image {
    width: 75%;
}

.cabecalho__links_list {
    font-weight: 500;
}

.cabecalho__links_list_item {
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin-left: 2rem;

    transition: 0.5s;
}

.cabecalho__links_list_item:hover {
    transition: 0.5s;
    border-color: var(--cor-branca);
    background-color: var(--cor-principal);
    color: var(--cor-branca);
}